/test/ export-ignore
/.* export-ignore
/*.yml export-ignore
/*.xml export-ignore
/README.md
/composer-travis-ci.json export-ignore
/composer-travis-ci-coverage-no.json export-ignore
/composer-travis-ci-coverage-yes.json export-ignore