<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.2/phpunit.xsd"
	bootstrap="./test/bootstrap.php"
>
	<testsuites>
		<testsuite name="Tests">
			<directory>./test/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>
